.sidebar-container {
  position: fixed;
  width: 320px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1a1a1a;
  color: #fff;
}

.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 15px 15px 20px 30px;
  font-size: 40px;
  font-weight: 500;
  background-color: #313131;
}

.sidebar-content-container {
  padding-top: 10px;
}
.sidebar-content-container a {
  font-size: larger;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 30px 15px 30px 30px;
  display: block;
  color: #fff;
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #aaaaff;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 20px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  padding-left: 220px;
}

.content-container .container-fluid .container {
  margin: 20px auto;
  margin-top: 10px;
  padding: 10px;
  width: 400px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: 5px;
}
.container .field-input {
  padding-bottom: 10px;
}
h1 {
  width: 100%;
  color: rgb(46, 46, 46);
  font-size: 50px;
  font-weight: 700px;
  margin: 28px auto;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
form {
  padding-top: 25px;
  /*padding: 15px;*/
  text-align: center;
}
input {
  padding: 12px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
  width: 90%;
  font-size: 16px;
  transition: border 0.2s, background-color 0.2s;
}
form .field {
  background-color: #ecf0f1;
}
form .field:focus {
  border: 2px solid #3498db;
}
form .btn {
  background-color: #3498db;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
}
form .btn:hover,
form .btn:active {
  background-color: #1f78b4;
  border: 2px solid #1f78b4;
}

.customer-table{
 margin-left: 350px;
 margin-right: 100px;
}