* {
  box-sizing: border-box;
}
body {
  background-color: #e9e9e9;
  font-family: "Arial", sans-serif;
  padding: 50px;
}
.container {
  margin: 20px auto;
  margin-top: 100px;
  padding: 10px;
  width: 400px;
  height: 300px;
  border-radius: 5px;
}
.container .field-input {
  padding-bottom: 10px;
}
h1 {
  width: 70%;
  color: rgb(44, 44, 44);
  font-family: 'Alegreya Sans SC';
  font-size: 60px;
  margin: 28px auto;
  margin-bottom: 20px;
  text-align: center;
  /*padding-top: 40px;*/
}
form {
  padding-top: 25px;
  /*padding: 15px;*/
  text-align: center;
}
input {
  padding: 12px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
  width: 90%;
  font-size: 16px;
  transition: border 0.2s, background-color 0.2s;
}
form .field {
  background-color: #ecf0f1;
}
form .field:focus {
  border: 2px solid #3498db;
}
form .btn {
  background-color: #3498db;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
}
form .btn:hover,
form .btn:active {
  background-color: #1f78b4;
  border: 2px solid #1f78b4;
}
